@import 'user.less';
@import 'animation.less';
@import 'product.less';
@import 'footer.less';

html, body, #react {
}

.main {
  -webkit-animation: fadeIn 900ms;
  display: flex;
  flex-flow: column;
}

.header-bar {
  background: #999;
}

.avatar-image {
  border-radius: 50%;
}

.hide {
  visibility: hidden;
}
